navigate{
    .main-navigate-label{
        position: fixed;
        top: 0;
        left: 0;
        right :0;
        height: 70px;
        box-sizing: border-box;
        padding: 20px;
        float: left;
        background: #2f313e;
        .navigate-toggle,.home-icon{
            float: right;
            color: #fff;
            font-size: 28px;
        }
        .home-icon{
            float: left;
            padding-top: 7px;
            height: 35px;
            width: 35px;
            background: rgba(white, 0.10);
            text-align: center;
            border-radius: 100%;
            font-size: 15px;
        }
        .navigate-toggle-body, {
            position: fixed;
            float: left;
            top: 70px;
            left: 0;
            right: 0;
            bottom: 0;
            background: darken(#5EAFF2, 10%);
            height: 100%;
            box-sizing: border-box;
            &.active{
                transform: translateX(100%);
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 20px;
                float: left;
                width: 100%;
                li{
                    text-decoration: none;
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;
                    &.simply-nav{
                        ion-icon{
                            position: relative;
                            top: 1px;
                            margin-right: 16px;
                        }
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        padding-bottom: 7px;
                        margin-left: 20px;
                    }
                }
                label{
                    float: left;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 30px;
                    color: rgba(black, 0.2);
                    font-size: 20px;
                }
                &.usercp-section{
                    background: darken(#5EAFF2, 10%);
                    color: #fff;
                    li.button-nav{
                        background: white;
                        padding: 15px;
                        width: 100%;
                        border-radius: 2px;
                        color: #5EAFF2;
                        text-align: center;
                        margin-bottom: 15px;
                        font-size: 18px;
                        font-weight: 500;
                        &.no-body{
                            color: #fff;
                            background: none;
                            padding: 10px;
                        }
                    }
                    li.username{
                        float: left;
                        width: 100%;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 30px;
                        color: rgba(black, 0.2);
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
