navigate{
    .main-navigate-label{
        position: fixed;
        top: 0;
        left: 0;
        right :0;
        height: 50px;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        background: #2f313e;
        .navigate-toggle,.home-icon{
            float: right;
            color: #fff;
            font-size: 24px;
        }
        .home-icon{
            float: left;
            padding-top: 6.5px;
            height: 30px;
            width: 30px;
            background: rgba(white, 0.10);
            text-align: center;
            border-radius: 100%;
            font-size: 13px;
        }
        .navigate-toggle-body, {
            position: fixed;
            float: left;
            top: 50px;
            left: 50px;
            right: 0;
            background: darken(#5EAFF2, 10%);
            height: 100%;
            box-sizing: border-box;
            &.active{
                transform: translateX(100%);
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 15px;
                float: left;
                width: 100%;
                li{
                    text-decoration: none;
                    margin-bottom: 10px;
                    float: left;
                    width: 100%;
                    &.simply-nav{
                        ion-icon{
                            position: relative;
                            top: 1px;
                            margin-right: 10px;
                        }
                        color: #fff;
                        font-size: 12px;
                        font-weight: 600;
                        padding-bottom: 7px;
                        margin-left: 20px;
                    }
                }
                label{
                    float: left;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 30px;
                    color: rgba(black, 0.2);
                }
                &.usercp-section{
                    background: darken(#5EAFF2, 10%);
                    color: #fff;
                    li.button-nav{
                        background: white;
                        padding: 7px;
                        width: auto;
                        border-radius: 2px;
                        color: #5EAFF2;
                        text-align: center;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                    li.username{
                        float: left;
                        width: 100%;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 30px;
                        color: rgba(black, 0.2);
                    }
                }
            }
        }
    }
}
