page-home {
    padding: 10px;
    padding-top: 80px;
    overflow-y: auto;
    background: #f9f9f9;
    .home-sec-header{
        font-weight: 600;
        font-size: 20px;
        margin: 15px 0;
        float: left;
        width: 100%;
        text-align: left;
        color: #ddd;
    }
    .news-box{
        width: 100%;
        float: left;
        padding: 10px;
        background: #fff;
        margin-bottom: 10px;
        box-sizing: border-box;
        img{
            margin-bottom: 10px;
        }
        .title{
            margin: 0;
            font-weight: 600;
            color: #222;
            width: 100%;
            font-size: 24px;
            float: left;
        }
        .tag, .date{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            float: left;
            width: auto;
            color: #ddd;
        }
        .date{
            float: right;
        }
        .content{
            color: #888;
            width: 100%;
            float: left;
            text-align: justify;
            max-height: 100px;
            overflow: hidden;
            margin: 20px 0;
            font-size: 16px;
        }
        .button-link{
            width: 100%;
            float: left;
            text-align: center;
            color: lighten(red, 15%);
            font-weight: 500;
            font-size: 18px;
            background: transparent;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 2px;
            display: block;
        }
    }
}
